	<header class="header">

		<div class="center">

			<div class="header__flex">

				<div class="header__logo">

					<a href="/" title="{{ site }}">

					</a>

				</div>

				<nav class="header__menu">

{% include "template/header/menu.html" %}

				</nav>

				<div class="header__right">

					<button class="header__search button" type="button" aria-label="открыть поиск" data-modal="search">
						<svg width="25" height="25" viewBox="0 0 25 25">
							<path d="M11.5 18C7.9 18 5 15.1 5 11.5a6.48 6.48 0 1 1 12.99 0c0 3.6-2.9 6.5-6.5 6.5Zm0-12A5.48 5.48 0 0 0 6 11.5c0 3.05 2.44 5.5 5.5 5.5 3.04 0 5.49-2.45 5.49-5.5S14.54 6 11.49 6Z"/>
							<path d="m16.33 15.63 4.49 4.5-.71.7-4.49-4.49.7-.7Z"/>
						</svg>
					</button>

					<div class="header__lang">

						<button class="header__lang-btn button is-current" type="button" data-lang="ru" aria-label="русская версия сайта">
							Ru
						</button>

						<button class="header__lang-btn button" type="button" data-lang="en" aria-label="english site">
							En
						</button>

					</div>

					<div class="header__account">

					</div>

				</div>

				<button class="button btn-menu-toggle" type="button" aria-label="открыть меню">
					<span class="btn-menu-toggle__line btn-menu-toggle__line--top"></span>
					<span class="btn-menu-toggle__line btn-menu-toggle__line--center"></span>
					<span class="btn-menu-toggle__line btn-menu-toggle__line--bottom"></span>
				</button>

			</div>

		</div>

	</header>