			<ul class="menu">

				<li class="menu__item">

					<a class="menu__link" href="{{ url }}#about">
						About
					</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="{{ url }}#example">
						Example
					</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="{{ url }}#nfts">
						NFTs
					</a>

				</li>

				<li class="menu__item menu__item--logo">

					<a class="menu__link" href="/" title="home page">

						<svg width="176" height="51" viewBox="0 0 176 51">
							<use xlink:href="#svg-logo"/>
						</svg>

					</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="{{ url }}#dao">
						DAO
					</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="{{ url }}#roadmap">
						Roadmap
					</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="{{ url }}#faq">
						FAQ
					</a>

				</li>

			</ul>