			<ul class="menu">

				<li class="menu__item">

					<a class="menu__link" href="#about">
						About
					</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="#example">
						Example
					</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="#nfts">
						NFTs
					</a>

				</li>

				<li class="menu__item menu__item--logo">

					<a class="menu__link" href="/">

						<img src="/img/logo.svg" width="176" height="51" alt="{{ site }}" loading="eager">

					</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="#dao">
						DAO
					</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="#roadmap">
						Roadmap
					</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="#faq">
						FAQ
					</a>

				</li>

			</ul>