.about {

	position: relative;
	overflow: hidden;
	padding: 244px 0 210px;

	@media ($mdWidth) {

		padding: 24px 0 100px;

	}

	.section-circle {

		top: 34px;

	}

	.section-bg {

		top: 125px;

		@media ($mdWidth) {

			top: 303px;

		}

	}

	&__column {

		display: flex;
		position: relative;
		justify-content: space-between;

		@media ($mdWidth) {

			flex-direction: column-reverse;

		}

	}

	&__item {

		width: var(--column);
		position: relative;
		margin-left: var(--indent);
		padding-right: 26px;

		&::before {

			position: absolute;
			width: 705px;
			height: 705px;
			top: -208px;
			left: -154px;
			content: '';
			border-radius: 50%;
			background-color: #fff;

			@media ($mdWidth) {

				width: 492px;
				height: 492px;
				top: 0;
				left: 0;

			}

		}

		&--left {

			margin-top: 135px;

			@media ($mdWidth) {

				margin-top: 8px;
				margin-left: 0;
				padding-top: 110px;
				padding-left: 98px;
				width: 450px;

			}

		}

		&--right {

			margin-top: 14px;

			@media ($mdWidth) {

				margin-top: 0;
				margin-left: auto;
				align-self: flex-end;
				width: 490px;
				padding-left: 90px;
				padding-top: 120px;
				padding-right: 50px;

			}

			&::before {

				left: -132px;

			}

		}

		&-inner {

			position: relative;

		}

	}

	.h3 {

		margin-bottom: 28px;

		@media ($mdWidth) {

			margin-bottom: 20px;

		}

	}

}