.about {

	position: relative;
	padding: 244px 0 210px;

	&__bg {

		position: absolute;
		top: 140px;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		display: flex;
		justify-content: center;
		pointer-events: none;`1A2

		img {

			flex-shrink: 0;

		}

	}

	&__column {

		display: flex;
		position: relative;
		justify-content: space-between;

	}

	&__item {

		width: var(--column);
		position: relative;
		margin-left: var(--indent);
		padding-right: 26px;

		&::before {

			position: absolute;
			width: 705px;
			height: 705px;
			top: -208px;
			left: -154px;
			content: '';
			border-radius: 50%;
			background-color: #fff;

		}

		&--left {

			margin-top: 135px;

		}

		&--right {

			margin-top: 14px;

			&::before {

				left: -132px;

			}

		}

		&-inner {

			position: relative;

		}

	}

	.h3 {

		margin-bottom: 28px;

	}

}