.accordion {

	position: relative;

	&__item {

		margin-top: 26px;
		background-color: var(--bg);
		border-radius: 10px;

	}

	&__btn {

		cursor: pointer;

		@media ($desktop) {

			&:hover {

				--color: var(--green);

			}

		}

	}

	&__head {

		padding: 30px var(--indent);
		display: flex;
		color: var(--color);
		align-items: center;
		transition: var(--transitionDefault);
		justify-content: space-between;

	}

	&__arrow {

		stroke: var(--color);
		stroke-width: 3px;
		margin-left: 30px;
		transition: var(--transitionDefault);

	}

	&__body {

		overflow: hidden;
		position: relative;
		max-height: 0;
		opacity: 0;
		transition: max-height var(--transitionDefault), opacity var(--transitionDefault);

	}

	&__inner {

		padding: 0 var(--indent) 48px;
		max-width: 1024px;

	}

	&__item--open &__body {

		overflow: visible;
		max-height: 3000px;
		opacity: 1;

	}

	&__item--open &__head {

		padding-bottom: 20px;

	}

	&__item--open &__arrow {

		transform: rotate(45deg);

	}

}