.link {

	text-decoration: underline;

	@media ($desktop) {

		&:hover {

			text-decoration: underline;
			text-decoration-color: transparent;
			transition: var(--transitionDefault);

		}

	}

}

.h1 {

	font-weight: 600;
	font-size: 72px;
	line-height: 78px;

}

.h2 {

	font-weight: 500;
	font-size: 64px;
	line-height: 73px;

}

.h3 {

	font-weight: 500;
	font-size: 54px;
	line-height: 62px;

}

.h4 {

	font-weight: 500;
	font-size: 46px;
	line-height: 52px;

}

.h5 {

	font-weight: 600;
	font-size: 32px;
	line-height: 52px;

}

.section-circle {

	position: absolute;
	top: 82px;
	left: 50%;
	right: var(--indent);
	display: flex;
	justify-content: flex-end;
	pointer-events: none;
	z-index: 1;

}

.intro {

	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: var(--green);

}