.dao {

	padding: 180px 0 150px;
	position: relative;
	text-align: center;

	background-image: url(/img/bg-blue.png);
	background-position: top;
	background-color: rgba(233, 240, 245, 0.96);

	.section-circle {

		top: 98px;

	}

	.section-bg--tree {

		img {

			flex-shrink: 0;
			min-height: 100%;
			left: -624px;

		}

	}


	&__title {

		margin: 0 auto 145px;
		max-width: 768px;

	}

	&__list {

		display: flex;
		flex-wrap: wrap;
		column-gap: 60px;
		row-gap: 80px;
		justify-content: space-between;

		& + & {

			margin-top: 40px;
			align-items: flex-end;

		}

	}

	&__item {

		width: calc( (100% - 120px) / 3 );
		position: relative;

		.h4 {

			margin: 16px 0 10px;

		}

		&--white {

			padding: 44px 42px;
			border-radius: 40px 0;
			width: 668px;
			text-align: left;
			position: relative;
			background-color: #fff;
			margin-bottom: 8px;

			img {

				position: absolute;
				top: -85px;
				right: 18px;

			}

		}

	}

	&__img {

		display: flex;
		justify-content: center;

	}

}