.ecological-initiatives {

	padding: 100px 0 75px;
	position: relative;

	@media ($mdWidth) {

		padding: 150px 0 128px;

		.section-bg {

			top: -50px;

		}

	}

	&__title {

		text-align: center;
		max-width: 900px;
		margin: 35px auto;

		@media ($mdWidth) {

			margin-bottom: 31px;

		}

	}

	&__intro {

		@media ($mdWidth) {

			margin-bottom: 63px;

		}

	}

	&__row {

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 75px 0;

		@media ($mdWidth) {

			padding: 42px 0;

		}

		@media ($smWidth) {

			display: block;

		}

		&--reverse {

			flex-direction: row-reverse;
			margin-left: var(--indent);

			@media ($mdWidth) {

				margin: 0;

			}

		}

	}

	&__img {

		width: var(--column);
		margin-left: calc( var(--indent) * 1.5 );

		@media ($mdWidth) {

			margin: 0;
			width: auto;

			img {

				width: auto;
				height: auto;

			}

		}

	}

	&__text {

		width: var(--column);
		padding-right: 26px;

		@media ($mdWidth) {

			width: 352px;
			padding-right: 14px;

			.h4 {

				margin-bottom: 20px;

			}

		}

		.h4 {

			margin-bottom: 26px;

		}

	}

}