fieldset {

	border: 0;
	min-width: 0;
	display: block;
	position: relative;

	&:focus {

		outline: none;

	}

}

legend {

	display: table;

	&:focus {

		outline: none;

	}

}

.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	user-select: none;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	display: block;

	&:hover {

		cursor: pointer;

	}

	&:focus {

		outline: none;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	padding: 0 52px;
	border: 2px solid;
	line-height: 62px;
	color: var(--color);
	font-weight: 600;
	font-size: 24px;
	border-radius: 33px;
	background-color: var(--bg);

	@media ($desktop) {

		&:hover {

			--color: var(--green);

		}

	}

	@media ($smWidth) {

		font-size: 16px;
		padding: 0 40px;
		line-height: 42px;

	}

	&--black {

		color: var(--bg);
		border-radius: 40px 0 40px 0;
		background-color: var(--color);
		padding: 0 40px;
		border-color: var(--color);

		@media ($desktop) {

			&:hover {

				--color: var(--green);

			}

		}

		@media ($smWidth) {

			border-radius: 28px 0 28px 0;

		}

	}

}

.input {

	line-height: 32px;
	padding: 10px 40px;
	font-size: 22px;

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px);

	background-color: var(--bg);
	height: 66px;
	border: 3px solid var(--color);
	border-radius: 33px;
	color: var(--color);

	@media ($desktop) {

		&:hover:not(:focus) {

			border-color: var(--green);

		}

	}

	@media ($smWidth) {

		height: 62px;
		padding: 10px 27px;
		font-size: 16px;

		&::placeholder {

			font-size: 14px;

		}

	}

	&::placeholder {

		opacity: .5;
		color: #4b4e4f;

	}

	&::-ms-clear {

		display: none;

	}

	&:-webkit-autofill {

		animation-name: autofill;
		animation-fill-mode: both;

	}

	&:focus {

		outline: none;

		&::placeholder {

			opacity: 0;

		}

	}

	&:disabled {

		pointer-events: none;

	}

	&--error {

		border-color: var(--error);

	}

	&:invalid {

		box-shadow: none;

	}

	&:valid {

		/* --color: var(--green); */

	}

}

@keyframes autofill {

	to {

		color: var(--color);
		background-color: #fff;

	}

}