.header {

	flex-shrink: 0;
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	z-index: 9;

	@media ($mdWidth) {

		top: 50px;

	}

	&__menu {

		@media ($desktop) {

			display: flex;
			justify-content: center;

		}

	}

}