.visible-md,
.visible-sm {

	display: none;

}

.center {

	width: 1120px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;

}

@media ($desktop) {


}

@media ($lgWidth) {


}

@media ($mdWidth) {

	:root {

		--indent: 50px;
		--column: 334px;

	}

	.hidden-md {

		display: none !important;

	}

	.visible-md {

		display: block;

	}

	.center {

		width: 768px;
		padding: 0 var(--indent);

	}

}

@media ($smWidth) {

	.hidden-sm {

		display: none !important;

	}

	.visible-sm {

		display: block;

	}

	.center {

		width: 500px;

	}

}

@media ($xsWidth) {

}