.menu {

	display: flex;
	align-items: flex-end;
	column-gap: 40px;

	@media ($mdWidth) {

		display: grid;
		gap: 34px;
		grid-template-columns: auto auto auto auto auto auto auto;

	}

	&__item {

		@media ($desktop) {

			&:hover {

				--color: var(--green);

			}

		}

		&--logo {

			margin: 0 26px;

			@media ($mdWidth) {

				margin: 0 18px 6px;

				svg {

					width: 136px;
					height: 39px;

				}

			}

		}

	}

	&__link {

		font-weight: 500;
		font-size: 16px;
		line-height: 30px;
		letter-spacing: 0.02em;
		white-space: nowrap;
		transition: var(--transitionDefault);

	}

}