.mobile-app {

	position: relative;
	background-image: url(/img/bg-green.png);
	background-position: top;

	&__figure {

		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: row-reverse;

		img {

			width: 518px;
			height: 375px;
			object-fit: cover;
			object-position: top;

		}

	}

	&__figcaption {

		padding-left: calc( var(--indent) * 1.5 );
		margin-top: 14px;
		margin-right: var(--indent);
		width: var(--column);

	}

	small {

		display: block;
		font-weight: normal;
		font-size: 22px;
		line-height: 32px;
		margin-top: 24px;

	}

}