.mobile-app {

	position: relative;
	background-image: url(/img/bg-green.png);
	background-position: top;
	overflow: hidden;

	&__figure {

		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: row-reverse;

		img {

			width: 518px;
			height: 375px;
			object-fit: cover;
			object-position: top;

			@media ($mdWidth) {

				width: 400px;
				height: auto;

			}

			@media ($smWidth) {

				width: 350px;
				left: 14px;

			}

		}

		@media ($smWidth) {

			flex-direction: column-reverse;
			align-items: flex-start;
			justify-content: flex-start;
			padding-top: 38px;

		}

	}

	&__figcaption {

		padding-left: calc( var(--indent) * 1.5 );
		margin-top: 14px;
		margin-right: var(--indent);
		width: var(--column);

		@media ($mdWidth) {

			padding: 0;
			margin: 0;

		}

		@media ($smWidth) {

			padding-left: 12px;

		}

	}

	small {

		display: block;
		font-weight: normal;
		font-size: 22px;
		line-height: 32px;
		margin-top: 24px;

		@media ($smWidth) {

			font-size: 14px;
			line-height: 18px;
			margin-top: 20px;

		}

	}

}