.modal {

	flex-grow: 1;
	position: relative;
	z-index: 10;
	display: none;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: var(--indent);

	&__box {

		position: relative;
		max-width: 100%;

	}

	&__item {

		background-color: var(--bg);
		padding: 117px 68px 110px 70px;
		max-width: 100%;
		border-radius: 8px;
		width: 630px;

		@media ($smWidth) {

			max-width: 100%;
			padding: 45px 34px 50px;

		}

	}

	&__close-btn {

		position: absolute;
		top: 19px;
		right: 19px;

		svg {

			stroke: var(--color);

		}

		@media ($smWidth) {

			top: 22px;
			right: 14px;

			svg {

				width: 34px;
				height: 34px;

				path {

					stroke-width: 5px;

				}

			}

		}

		@media ($desktop) {

			&:hover {

				--color: var(--green);

			}

		}

	}

	&__thank {

		position: relative;
		padding-left: 175px;

		@media ($mdWidth) {

			font-size: 22px;
			line-height: 32px;

		}

		@media ($smWidth) {

			font-size: 14px;
			line-height: 20px;
			padding: 0;

			svg {

				position: static;
				width: 100px;
				height: 100px;
				margin-bottom: 31px;

			}

		}

		svg {

			position: absolute;
			top: 0;
			left: 0;
			background-color: var(--green);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 142px;
			height: 142px;

		}

		.h4 {

			margin-bottom: 20px;

			@media ($mdWidth) {

				font-size: 46px;
				line-height: 52px;

			}

			@media ($smWidth) {

				font-size: 24px;
				line-height: 28px;
				margin-bottom: 16px;

			}

		}

	}

}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 9;
			opacity: .4;
			background-color: var(--color);

		}

	}

}