.modal {

	flex-grow: 1;
	position: relative;
	z-index: 10;
	display: none;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: var(--indent);

	@media ($smWidth) {



	}

	&__box {

		position: relative;
		max-width: 100%;

	}

	&__item {

		background-color: var(--bg);
		padding: 117px 68px 110px 70px;
		max-width: 100%;
		border-radius: 8px;
		width: 630px;

	}

	&__close-btn {

		position: absolute;
		top: 19px;
		right: 19px;

		svg {

			stroke: var(--color);

		}

		@media ($desktop) {

			&:hover {

				--color: var(--green);

			}

		}

	}

	&__thank {

		position: relative;
		padding-left: 175px;

		svg {

			position: absolute;
			top: 0;
			left: 0;
			background-color: var(--green);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 142px;
			height: 142px;

		}

		.h4 {

			margin-bottom: 20px;

		}

	}

}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 9;
			opacity: .4;
			background-color: var(--color);

		}

	}

}