.nfts {

	text-align: center;
	padding: 180px 0 146px;
	position: relative;
	background-image: url(/img/topography.svg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100% 100%;

	.section-circle {

		top: 98px;

	}

	&__title {

		margin-bottom: 42px;

	}

	&__row {

		display: flex;
		padding-right: 12px;

		&--between {

			justify-content: space-between;
			margin: 86px 0 104px 0;

		}

		&--right {

			justify-content: flex-end;

		}

	}

	&__item {

		width: var(--column);
		position: relative;

		&::before {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: -20px;
			content: '';
			filter: blur(56px);
			background-color: var(--bg);

		}

		&--1 {

			&::before {

				top: 42px;
				bottom: -42px;

			}

		}

		&--2 {

			margin-top: 71px;

			&::before {

				top: 22px;

			}

		}

		&--3 {

			&::before {

				bottom: -31px;

			}

		}

		&--4 {

			&::before {

				top: 8px;

			}

		}

	}

	&__img {

		display: flex;
		justify-content: center;
		position: relative;

	}

	&__text {

		margin-top: 28px;
		position: relative;

		.h5 {

			margin: 13px 0;

		}

	}

}