.roadmap {

	padding: 171px 0 44px;
	position: relative;
	background-image: url(/img/topography.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

	@media ($mdWidth) {

		padding: 162px 0 24px;

		.section-circle {

			top: 76px;

		}

		.section-bg img {

			width: 968px;

		}

	}

	&__title {

		text-align: center;
		margin-bottom: 62px;

		@media ($mdWidth) {

			margin-bottom: 20px;

		}

	}

	&__list {

		margin-bottom: 101px;

	}

	&__item {

		@media ($desktop) {

			display: flex;
			height: 104px;
			margin-top: 40px;

		}

		@media ($mdWidth) {

			margin-bottom: 42px;

		}

	}

	&__date {

		width: 192px;
		color: var(--green);
		flex-shrink: 0;

		@media ($mdWidth) {

			width: auto;
			display: flex;
			align-items: flex-end;
			margin-bottom: 10px;

			.h2 {

				font-size: 64px;
				line-height: 73px;

			}

		}

	}

	&__year {

		margin-top: 8px;
		display: block;
		color: var(--pink);

		@media ($mdWidth) {

			margin: 0 14px 10px;

		}

	}

	&__row {

		flex-grow: 1;

	}

	&__step {

		width: 210px;
		background-color: var(--pink);
		border-radius: 10px;
		padding: 10px;
		height: 104px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media ($mdWidth) {

			width: 160px;

			.caption {

				font-size: 16px;
				min-width: 140px;

			}

		}

		span {

			min-width: 160px;

		}

		&s {

			display: flex;
			column-gap: 29px;

			@media ($mdWidth) {

				column-gap: 10px;
				justify-content: space-between;

			}

		}

	}

}