.social {

	display: grid;
	align-items: center;
	gap: 30px;
	grid-template-columns: auto auto auto;

	&__link {

		display: block;

		@media ($desktop) {

			&:hover {

				--color: var(--green);

			}

		}

	}

}