:root {

	--color: #313137;
	--pink: #f1c9dc;
	--green: #a9d379;
	--error: #f00;
	--bg: #fdfbf8;

	--transitionDefault: 0.3s;

	--indent: 62px;

	--column: 480px;

}

$desktop: (min-width: 1200px);
$mdWidth: (max-width: 1119px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);